.card {
	text-align: center;
	padding: 1rem 2rem;
	border-radius: 2rem;
	font-family: 'Nunito', sans-serif;
	color: rgba(0, 0, 0, 0.788);
	min-width: 300px;
	margin-top: 1.5rem;
	background-color: rgba(0, 0, 0, 0.007);
	box-shadow: 12px 12px 20px 0px rgba(0, 0, 0, 0.25), -8px -8px 12px 0px rgba($color: white, $alpha: 0.3);
	transition: transform 500ms ease-out;
	user-select: none;
	&:hover {
		transform: translateY(-2rem);
		cursor: pointer;
	}
	h3 {
		text-transform: uppercase;
		font-weight: bold;
		color: rgba(0, 0, 0, 0.452);
	}
	p {
		font-weight: 400;
		font-size: 1.2rem;
		span {
			font-weight: 700;
			font-size: 4rem;
		}
	}
	ul {
		text-align: left;
		list-style-type: none;
		li {
			position: relative;
			font-size: 1.2rem;
			text-transform: capitalize;
			&::before {
				content: '';
				width: 0.8rem;
				height: 0.8rem;
				border-radius: 50%;
				background-color: rgba(17, 248, 17, 0.596);
				position: absolute;
				top: calc(30%);
				left: -2rem;
			}
		}
	}
	button {
		all: unset;
		width: 80%;
		text-align: center;
		user-select: none;
		font-size: 1.5rem;
		//background-color: rgba(255, 255, 255, 0.445);
		background-color: rgb(97, 97, 148);
		border-radius: 2rem;
		padding: 0.8rem 1.8rem;
		color: black;
		text-transform: capitalize;
		cursor: pointer;
		box-shadow: 12px 12px 20px 0px rgba(0, 0, 0, 0.25), -8px -8px 12px 0px rgba($color: white, $alpha: 0.3);
		transition: background 500ms ease-out;
		&:hover {
			background: linear-gradient(135deg, rgba(255, 255, 255, 0.164), rgba(0, 0, 0, 0.123));
		}
		&:active {
			background: linear-gradient(-45deg, rgba(255, 255, 255, 0.171), rgba(0, 0, 0, 0.123));
		}
	}
}
.text-muted {
	color: rgba(0, 0, 0, 0.452) !important;
	&::before {
		background-color: rgb(148, 7, 7) !important;
	}
}
.highlight {
	font-weight: 700;
	color: black !important;
}
